.logo {
  display: flex;
  align-items: center;

  margin-right: 93px;

  font-size: $font-size-logo;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: $wide-font-weight;
  letter-spacing: 0.03em;
  line-height: 1.17;
}

.logo__accent-logo {
  color: $bg-buttons-color-hover;
  text-decoration: none;
}

.logo-footer__accent-logo {
  color: $bg-buttons-color-hover;
  text-decoration: none;
}

.logo--light {
  color: $bg-color;
  margin-bottom: 20px;

  @media screen and (max-width: 767.98px) {
    margin-right: 0;
    justify-content: center;
    font-size: 24px;
  }
  @media screen and (min-width: 480px) and (max-width: 767.98px) {
    display: block;
    text-align: center;
    margin-right: 0;

    font-size: 24px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    margin-right: 0;
    justify-content: center;
    font-size: 24px;
  }
}

.logo--dark {
  color: $main-text-color;
}
