// buttons portfolio
.buttons.list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  letter-spacing: 0.03em;

  @media screen and (max-width: 767.98px) {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.buttons__item {
  margin-right: 10px;
}

.buttons__btn {
  display: inline-block;
  padding: 6px 22px 6px 22px;

  border-radius: 4px;
  text-align: center;
  border-color: transparent;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  background-color: $advantages-icon-bg-color;
  font-weight: 500;
  font-family: inherit;
  line-height: 1.7;

  transition: $transition-cubic;

  &:focus,
  &:hover {
    background-color: $bg-buttons-color-hover;
    color: $bg-color;
    border-color: transparent;
    text-decoration: none;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  @media screen and (max-width: 767.98px) {
    margin-bottom: 15px;
  }
}

// cards
.cards.list {
  display: flex;
  flex-wrap: wrap;

  margin-right: -30px;
  margin-bottom: -30px;
  @media screen and (max-width: 767.98px) {
    margin-right: 0;
    margin-left: 0;
    display: block;
    margin-bottom: 0;
  }
}

.card-container {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.card {
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  flex-basis: calc((100% - 2 * 60px) / 3);

  transition: $transition-cubic;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  @media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    &:nth-child(3n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
      @media screen and (max-width: 767.98px) {
        margin-bottom: 30px;
      }
    }
  }

  @media screen and (max-width: 767px) {
    margin-right: 0;
  }
}

.card__image {
  width: 100%;
  height: auto;
}

.card-link {
  text-decoration: none;
}

.card-container__heading {
  color: $main-text-color;
  font-size: 18px;
  text-decoration: none;
  font-weight: 700;
  line-height: 2;
  margin-bottom: 4px;
  letter-spacing: 0.06em;

  .card-container__heading:hover,
  .card-container__heading:focus {
    color: $bg-buttons-color-hover;
    text-decoration: none;
  }
}

.card-container__paragraph {
  color: $secondary-text-color;
  font-size: 16px;
  text-decoration: none;
  font-weight: 400;
  line-height: 1.77;
  letter-spacing: 0.03em;

  .card-container__paragraph:hover,
  .card-container__paragraph:focus {
    color: $bg-buttons-color-hover;
    text-decoration: none;
  }
}

.overlay-container {
  position: relative;
  max-width: 100%;
  width: 370px;
  height: 294px;
  overflow: hidden;

  @media screen and (max-width: 767.98px) {
    height: auto;
    width: 100%;
    max-width: 450px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    width: 351px;
    max-width: 351px;
  }
}

.overlay-container__paragraph {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba(33, 150, 243, 0.9);

  overflow: hidden;

  width: 100%;
  height: 100%;

  transform: translateY(101%);
  transition: $transition-cubic;

  color: $bg-color;
  font-family: "Roboto";
  font-size: 400;
  font-size: 18px;
  letter-spacing: 00.03em;
  line-height: 1.55;

  .card:hover &,
  .card:focus & {
    transform: translateY(0);
  }

  @media screen and (max-width: 767.98px) {
    padding: 77px 24px;
    overflow: scroll;
  }
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    padding: 49px 24px;
  }
  @media screen and (min-width: 1200px) {
    padding: 63px 24px;
  }
}
