.footer {
  background-color: $footer-color;
  text-decoration: none;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address-list {
  margin-bottom: 9px;
  color: $footer-text-color;
  font-size: 14px;
  text-decoration: none;
  font-weight: 400;
  line-height: 1.71;
  font-style: normal;
}

.footer-social-links__list {
  display: flex;
  @media screen and (min-width: 480px) and (max-width: 767.98px) {
    justify-content: center;
    margin-bottom: 60px;
  }
}

.footer__container {
  display: flex;
  align-items: baseline;
  @media screen and (min-width: 480px) and (max-width: 767.98px) {
    display: block;
    text-align: center;
    text-align: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.footer-heading {
  color: $bg-color;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    text-align: center;
  }
}

.address-wrapper {
  margin-right: 70px;
  @media screen and (min-width: 480px) and (max-width: 767.98px) {
    margin-right: 0;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    text-align: center;
    margin-right: 165px;
    width: 231px;
    margin-bottom: 60px;
  }
}

.footer-social-links__item {
  margin-right: 10px;
}

.footer-social-links__item:last-child {
  margin-right: 0;
}

.footer__address {
  margin-bottom: 9px;
  color: $bg-color;
  font-size: $font-medium;
  text-decoration: none;
  font-weight: $thin-font-weight;
  line-height: 1.71;
  font-style: normal;
}
