.hero {
  display: flex;
  text-align: center;

  margin-left: auto;
  margin-right: auto;

  max-width: 1600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (max-width: 767.98px) {
    background: linear-gradient($hero-overlay, $hero-overlay),
      url(/images/hero-450.jpg);

    padding-top: 118px;
    padding-bottom: 118px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    background: linear-gradient($hero-overlay, $hero-overlay),
      url(/images/hero-768.jpg);
    padding-top: 118px;
    padding-bottom: 118px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  @media screen and (min-width: 1200px) {
    background: linear-gradient($hero-overlay, $hero-overlay),
      url(/images/hero-1200.jpg);

    padding-top: 200px;
    padding-bottom: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.hero__heading {
  margin-bottom: 30px;
  color: $bg-color;
  font-size: $font-size-hero-heading;
  text-align: center;
  line-height: 1.36;
  text-transform: uppercase;
  font-weight: $fat-font-weight;
  margin-bottom: 30px;
  letter-spacing: 0.06em;

  @media screen and (max-width: 1199.98px) {
    font-size: 26px;
    line-height: 1.6em;
  }
}
